<?xml version="1.0" encoding="utf-8"?>
<!-- Abel Abraham: UIC CS 478 Spring '22 Project 5 App 1 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project5app1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/clapperboard"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/clapperboard"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project5App1">
        <activity
            android:name=".MovieClient"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Requests"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>

        <activity
            android:name=".MovieView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>

    </application>

</manifest>